<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994388866145-mtncuvsnulfgl7kjeino9qnnl96032eo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994388866145-mtncuvsnulfgl7kjeino9qnnl96032eo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>994388866145-1279m18lur0s2fgup5mi2uicqv4kvpda.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBuDS_p60_vtCH_-IM3YvaFKR48Aj0Q49Q</string>
	<key>GCM_SENDER_ID</key>
	<string>994388866145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterfirebasecrud</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebasecrud-bfc78</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebasecrud-bfc78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994388866145:ios:3f985662ec9ef56f2f6620</string>
</dict>
</plist>